[submodule "y0/CS1010X"]
	path = y0/CS1010X
	url = https://github.com/asdfghjkxd/CS1010X
[submodule "y1/CS1101S"]
	path = y1/CS1101S
	url = https://github.com/asdfghjkxd/CS1101S
[submodule "y1/CS2030S"]
	path = y1/CS2030S
	url = https://github.com/asdfghjkxd/CS2030S
[submodule "y1/CS2040S"]
	path = y1/CS2040S
	url = https://github.com/asdfghjkxd/CS2040S
[submodule "y1/ES2660"]
	path = y1/ES2660
	url = https://github.com/asdfghjkxd/ES2660
[submodule "y1/GESS1003"]
	path = y1/GESS1003
	url = https://github.com/asdfghjkxd/GESS1003
[submodule "y1/MA1521"]
	path = y1/MA1521
	url = https://github.com/asdfghjkxd/MA1521
[submodule "y1/CS1231S"]
	path = y1/CS1231S
	url = https://github.com/asdfghjkxd/CS1231S
[submodule "y1/GEA1000"]
	path = y1/GEA1000
	url = https://github.com/asdfghjkxd/GEA1000
[submodule "y1/IS1108"]
	path = y1/IS1108
	url = https://github.com/asdfghjkxd/IS1108
[submodule "y1/MA2001"]
	path = y1/MA2001
	url = https://github.com/asdfghjkxd/MA2001
[submodule "y2/CFG1003"]
	path = y2/CFG1003
	url = https://github.com/asdfghjkxd/CFG1003
[submodule "y2/CFG1004"]
	path = y2/CFG1004
	url = https://github.com/asdfghjkxd/CFG1004
[submodule "y2/CS2100"]
	path = y2/CS2100
	url = https://github.com/asdfghjkxd/CS2100
[submodule "y2/IS2218"]
	path = y2/IS2218
	url = https://github.com/asdfghjkxd/IS2218
[submodule "y2/ST2334"]
	path = y2/ST2334
	url = https://github.com/asdfghjkxd/ST2334
[submodule "y2/ip"]
	path = y2/ip
	url = https://github.com/asdfghjkxd/ip
[submodule "y2/tp"]
	path = y2/tp
	url = https://github.com/asdfghjkxd/tp
